<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>Update</h2>
<form id="form-update">
    <input type="text" placeholder="name" name="update-name" value="<%= people.name %>">
    <input type="text" placeholder="pseudo" name="update-pseudo" value="<%= people.pseudo %>">
    <input type="hidden" name="id" value="<%= people._id %>">
    <button type="update">Update</button>
</form>
<!--<script src="/main.js"></script>-->
<script>
    const updateForm = document.querySelector('form#form-update')
    const updateName = document.querySelector("input[name='update-name']")
    const updatePseudo = document.querySelector("input[name='update-pseudo']")
    const id = document.querySelector("input[name='id']")

    updateForm.addEventListener('submit', async (e) => {
        e.preventDefault()
        await fetch(`/people/${id.value}`, {
            method: 'put',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                name: updateName.value,
                pseudo: updatePseudo.value
            })
        })
    })
</script>
</body>
</html>